body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #656565;
}

.button-container {
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid #ffadad;
  background-color: #ffffff;
  border-radius: 8px;
  color: black;
}

#label {
  color: white;
}

button:hover {
  background-color: #70fcff;
}